@charset "UTF-8";

/*
 * This HTML and CSS © Brent Houghton and released under the AGPL license:
 * http://www.gnu.org/licenses/agpl-3.0-standalone.html
 */


/* define custom fonts */
@font-face {
	font-family: 'Caslon-Antique';
	src: url('fonts/Caslon-Antique-Regular.ttf');
}


/*
color scheme:
	background: #0F0F0F
	outer border: chocolate
	inner border: darkslategray
	text: #BBBBBB
	headers: snow
*/


/* general page styles */

a {
	text-decoration: none;
	color: aquamarine;
}

p {
	text-align: left;
}

ul {
	text-align: left;
}

header {
	color: snow;
}

.image-left, .image-right {
	padding: 15px;
	margin: 15px;
	border: 2px solid darkslategray;
	border-radius: 15px;
}
.image-left {
	float: left;
}
.image-right {
	float: right;
}

/* figures are used to embed an image and a caption into the main text of the
 * battle report, but the image shouldn't be so large it crowds out the
 * surrounding text */
figure img {
	max-width: 400px;
}

.strikethrough {
	text-decoration: line-through;
}

/* this kludgy element is needed to keep the floated images from overflowing
 * their section */
.end_section {
	clear: both;
}


body {
	text-align: center;
	font-family: sans-serif;
	background-color: #0F0F0F;
	/* 
	 * Background image is Twinkle Twinkle, taken from Subtle Patterns:
	 * http://subtlepatterns.com
	 */
	background-image: url('lib/twinkle_twinkle.png');
	color: #BBBBBB;
	font-size: 110%;
}

body > section {
	margin-bottom: 100px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

body > section > * {
	padding: 30px;
	border: 2px solid chocolate;
	border-radius: 30px;
}

body > section > header {
	margin-bottom: 30px;
	padding: 0px;
	border: 0px;
}

body > footer {
	text-align: center;
	font-size: 80%;
	margin: 15px;
}

body > footer > * {
	margin-top: 1px;
	margin-bottom: 1px;
}


/* styles for the main page header */

body > header {
	padding: 30px;
	margin-bottom: 50px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	
	/* Try to make a pretty gradient, but many browsers only support vendor-prefixed versions, or don't support gradients at all. */
	background: #181818; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(top, #393939, #181818);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#393939), to(#181818)); /* older webkit syntax */
	background: -webkit-linear-gradient(top, #393939, #181818);
	background: -ms-linear-gradient(top, #393939, #181818);
	background: -o-linear-gradient(top, #393939, #181818);
	border-bottom: 1px solid #333333;
	font-size: 120%;
	font-weight: bold;
}

/* style the nav buttons in the header */
body > header a {
	padding: 10px 14px 10px 14px;
	border: 1px solid white;
	border-radius: 15px;
	margin: auto 5px auto 5px;
	color: white;
}

body > header a:hover {
	box-shadow: 0 2px 2px rgba(255,255,255,.5) inset,
		0 0px 30px rgba(255,255,255,.2) inset;
	color: white;
}


/* styles for the teaser at the top of the page */

#teaser {
	color: snow;
	width: 40%;
	font-family: 'Caslon-Antique', serif;
}

#teaser header {
	letter-spacing: 0.05em;
}

#teaser .opening_speech {
	font-weight: normal;
	text-align: left;
}

#teaser .commander_name {
	font-weight: bold;
}


/* styles for the scenario description near the top of the page */

#scenario section {
	display: inline-block;
	width: 40%;
	vertical-align: top;
	margin: 30px;
	position: relative;
}
#scenario section:before, #scenario section:after {
	content: "";
	position: absolute;
	width: 120%;
	top: 1.2em;
	left: 0;
	height: 3px;
	background-image: -webkit-gradient(linear, 0 0, 100%, 0, from(darkslategray), to(transparent));
	background-image: -webkit-linear-gradient(left, darkslategray, transparent);
	background-image: -moz-linear-gradient(left, darkslategray, transparent);
	background-image: -o-linear-gradient(left, darkslategray, transparent);
	background-image: linear-gradient(left, darkslategray, transparent);
}


/* styles for the army lists section */

#army_lists header * {
	margin-top: 5px;
	margin-bottom: 5px;
}

#army_lists .army_list {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-left: 15px;
	margin-right: 15px;
}

#army_lists .army_list .army_faction {
	font-family: 'Caslon-Antique', serif;
}

#army_lists .army_list .army_faction img {
	margin: 0px;
	margin-left: 15px;
	margin-right: 15px;
	height: 50px;
	width: 50px;
	vertical-align: middle;

}

/* style the squad type headings (i.e. 'Heavy Support', or 'HQ') */
#army_lists .army_list > ul {
	list-style-type: none;
}
#army_lists .army_list > ul > li > header {
	margin-top: 30px;
	margin-bottom: 5px;
	font-weight: bold;
	position: relative;
	height: 30px;
	padding-bottom: 1px;
	width: 90%;
}
#army_lists .army_list > ul > li > header:before, #army_lists .army_list > ul > li > header:after {
	content: "";
	position: absolute;
	width: 100%;
	top: 1.2em;
	height: 3px;
	background-image: -webkit-gradient(linear, 0 0, 100%, 0, from(darkslategray), to(transparent));
	background-image: -webkit-linear-gradient(left, darkslategray, transparent);
	background-image: -moz-linear-gradient(left, darkslategray, transparent);
	background-image: -o-linear-gradient(left, darkslategray, transparent);
	background-image: linear-gradient(left, darkslategray, transparent);
}

/* styles squad names */
#army_lists .army_list > ul > li > ul > li {
	margin-bottom: 15px;
}

/* styles the options for a squad */
#army_lists .army_list > ul > li > ul > li > ul {
	list-style-type: none;
}
#army_lists .army_list > ul > li > ul > li > ul > li {
	font-size: 90%
}


/* battle report styles */

#battle_report .turn_heading {
	color: snow;
}

#battle_report .conversation {
	display: inline-block;
	border: 1px solid darkslategray;
	padding: 30px;
	margin: 30px auto;
	width: 80%;
}

#battle_report .conversation td {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

#battle_report .conversation .conversation_speaker {
	vertical-align: top;
	text-align: right;
	font-weight: bold;
	margin-right: 15px;
	width: 20%;
}


/* styles for the results section */

#result .victory-image {
	display: block;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
}

#result .result_details {
	display: inline-block;
	vertical-align: top;
	width: 40%;
	margin-left: 15px;
	margin-right: 15px;
}

#result .result_campaign_rewards {
	margin: 60px auto;
	width: 60%;
}

#result .result_details > * {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#result .final_score {
	color: aquamarine;
}

#result .result_details h4 {
	border-bottom: 2px solid darkslategray;
}

#result .result_awards table {
	border: 1px solid darkslategray;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
}

#result .result_awards table td {
	border: 1px solid darkslategray;
	text-align: left;
	padding: 0.5em 1em 0.5em 1em;
}

#result .result_awards table td:first-child {
	width: 30%;
}

#result .result_awards table td:first-child * {
	margin-top: 1px;
	margin-bottom: 1px;
}

#result .result_awards table td:first-child p {
	font-size: 80%;
	margin-left: 15px;
}


/* styles for the Afterthoughts section */

#afterthoughts ul {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

#afterthoughts li { 
	padding-left: 1em; 
	text-indent: -.5em;
}

#afterthoughts li:before {
	content: "•";
	padding-right: 0.5em;
	color: darkslategray;
}

